body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7EFE6; /* Light Cream */
    color: #2B2726; /* Dark Gray */
    margin: 0;
    padding: 0;
}

nav {
    background-color: #010001; /* Black */
    color: #F7EFE6; /* Light Cream */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    max-height: 40px; /* Adjust size as needed */
    margin-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #F7EFE6; /* Light Cream */
    text-decoration: none;
    font-weight: bold;
}

header {
    background-color: #DDB3AB; /* Soft Pink */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.intro-text {
    max-width: 50%;
}

.intro-text h1 {
    color: #2B2726; /* Dark Gray */
    font-size: 2.5em;
}

.intro-text p {
    color: #2B2726; /* Dark Gray */
    font-size: 1.2em;
}

.hero-image {
    max-width: 400px; /* Adjust image size */
    height: auto;
}

main {
    padding: 20px;
}

section {
    padding: 20px 0;
}

footer {
    background-color: #010001; /* Black */
    color: #F7EFE6; /* Light Cream */
    text-align: center;
    padding: 10px;
}

/* Additional styling with the color palette */
h1, h2 {
    color: #2B2726; /* Dark Gray */
}

a {
    color: #DDB3AB; /* Soft Pink */
}

button {
    background-color: #2B2726; /* Dark Gray */
    color: #F7EFE6; /* Light Cream */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0C0808; /* Deep Black */
}
